<%= stylesheet_link_tag 'nba_teams', media: 'all' %>

<p id="notice"><%= notice %></p>

<h1>NBA Glicko RATING 2018-2019</h1>

<table class="table table-hover team-score-table">
  <thead>
    <tr>
      <th scope="col" colspan=2>Team</th>
      <th scope="col">WIN</th>
      <th scope="col">LOSE</th>
      <th scope="col">DRAW</th>
      <th scope="col"><%= "Rating(DEFAULT: #{NbaTeam::DEFAULT_RATING})" %></th>
      <th scope="col"><%= "Deviation(DEFAULT: #{NbaTeam::DEFAULT_DEVIATION})" %></th>
      <th scope="col"><%= "Volarity(DEFAULT: #{NbaTeam::DEFAULT_VOLARITY})" %></th>
    </tr>
  </thead>

  <tbody>
    <% @nba_teams.each do |nba_team| %>
      <tr>
        <td class='team-score-table__row' scope="row"><%= image_tag nba_team.icon_url, class: 'team-score-table__team-logo' %></td>
        <td class='team-score-table__row' scope="row"><%= "#{nba_team.key} (#{nba_team.name})" %></td>
        <td class='team-score-table__row' scope="row"><%= nba_team.win_count %></td>
        <td class='team-score-table__row' scope="row"><%= nba_team.lose_count %></td>
        <td class='team-score-table__row' scope="row"><%= nba_team.draw_count %></td>
        <td class='team-score-table__row' scope="row"><%= nba_team.glicko_rating %></td>
        <td class='team-score-table__row' scope="row"><%= nba_team.glicko_deviation %></td>
        <td class='team-score-table__row' scope="row"><%= nba_team.glicko_volarity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

